{% load static %}
<a href="/" >
    <img alt="CineverSE" src="{% static 'images/cineverse_logo.png' %}"
        width="150" height="30">
</a><br>
<a href="/reviews" class="button">Reviews</a><br>
<a href="/about" class="button">Pricing & Timing</a><br>
<a href="/info" class="button">Movie Information</a><br>

<html lang="en">
<head>
    <h3> Redirecting to About us page ............  </h3>
    <meta http-equiv="refresh" content="1; url = https://sreekar1cineverse1aboutus.nicepage.io/?version=00ed2299-8ce2-4053-a661-69c2f4bb8de3"  />
</head>
<body>
</body>
</html>