<html><head>
<title>Bibhas Adhikari Research</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div id="container">
<div id="header">
     <h3>Welcome to the Web Home of Bibhas Adhikari</h3>

</div>
<div id="content">
    <div id="nav">
     I am an Associate Professor in the <a href="http://www.iitkgp.ac.in/department/MA">Department of Mathematics</a> at <a href="http://www.iitkgp.ac.in/">IIT Kharagpur</a>.
<br><br><br>


    <a class="selected" href="http://www.facweb.iitkgp.ac.in/~bibhas/index.html">Home</a> &nbsp; &nbsp;

    <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Research.html">Research</a> &nbsp; &nbsp;


    <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Teaching.html">Teaching</a> &nbsp; &nbsp;




        <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Reads.html">Interesting Reads</a> &nbsp; &nbsp;


    <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Contact.html">Contact</a>

    </div>

<div id="main">
<br>
     <hr> MA20205 (Sec-1) Probability and Statistics (3-0-0) CRD-3
<br><br><br><a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSSyll22.pdf">Syllabus and Class Timings</a>

<br><br><br>Assignments
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSAssign_1_2022_Autumn.pdf">Assignment-1</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Solutions_PSAssign_1_2022_Autumn.pdf">Solution Assignment-1</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSAssign_2_2022_Autumn.pdf">Assignment-2</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Solutions_PSAssign_2_2022_Autumn.pdf">Solution Assignment-2</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSAssign_3_2022_Autumn.pdf">Assignment-3</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Solutions_PSAssign_3_2022_Autumn.pdf">Solution Assignment-3</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSAssign_4_2022_Autumn.pdf">Assignment-4</a>
<br> <a href="http://www.facweb.iitkgp.ac.in/~bibhas/Solutions_PSAssign_4_2022_Autumn.pdf">Solution Assignment-4</a>


<br><br><br>Lectures
<br><a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSLecture2_2022.pdf">Lecture-2</a>
<br><a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSLecture3_2022.pdf">Lecture-3</a>
<br><a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSLecture4_2022.pdf">Lecture-4</a>
<br><a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSLecture5_2022.pdf">Lecture-5</a>
<br><a href="http://www.facweb.iitkgp.ac.in/~bibhas/PSLecture6_2022.pdf">Lecture-6</a>
</div>
</div>

<div id="footer">


</div></div></body></html>